.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 50px 70px;
  border-radius: 10px;
}

.title {
  font-size: 42px;
  margin-bottom: 30px;
}

.name {
  font-size: 18px;
}